./gek_log
./logs
./logsEs
./logs.txt
./logsEs.text
log.html
output.xml
report.html
selenium-screenshot-1.png
selenium-screenshot-2.png
./logB
./logsB
../BooksApi/logB
../BooksApi/logsB
../tests/logs
../tests/logsD
../tests/logsChrome
../tests/logsFirefox
../Variaveis/log.html
../Variaveis/output.xml
../Variaveis/report.html


